<mat-card class="login-page">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>

        <p>
            Welcome to the Fund Allocation and calculation Tool. This Application is for authorized user only.
            Activity in the system is tracked.
        </p>

        <mat-divider></mat-divider>

        <form (ngSubmit)="loginTD()" class="login-form" #loginForm="ngForm" autocomplete="off" novalidate>

            <div *ngIf="inProgress && loginForm.valid">
                <app-progress-bar [message]="'authenticating...'" class="progress-comp"></app-progress-bar>
                <mat-divider></mat-divider>
            </div>

            <mat-form-field class="mt-4">
                <input matInput type="text" placeholder="Enter Username" name="username" ngModel #un="ngModel" required
                    minlength="6">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Enter password" name="password" ngModel #p="ngModel"
                    required minlength="6" maxlength="12">
                <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            </mat-form-field>

            <mat-divider></mat-divider>
            <div class="d-flex flex-row ml-auto mr-auto">
                <button mat-raised-button color="primary" class="m-4" type="submit" [disabled]="!loginForm.valid">Login</button>

                <button mat-raised-button color="warning" class="m-4" (click)="loginForm.reset()">Clear</button>
            </div>


        </form>
    </mat-card-content>
</mat-card>