.login-page {
    max-width: 350px;
    margin: 50px auto 0 auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }

  :host{
    display : block;
  }



  /* .ng-touched .ng-invalid{
    border: 1px solid red
  } */

  /* .ng-invalid{
    border: 1px solid rgb(214, 76, 76)
  } */
  