mat-form-field {
    margin-left: 1rem;
}

table {
    width: 100%;
  }
  
  .example-detail-row {
    height: 0;
  }
  
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  :host{
    display: block;
  }
  