<div class="row">
  <div class="col">

    <p-panel class="m-4">
      <p-header>
          Fund of Funds
      </p-header>


      <p-table #dt [columns]="cols" [value]="fofs" [paginator]="true" [rows]="10"
      [resizableColumns]="true"  selectionMode="single">

      <ng-template pTemplate="caption">
        <div style="text-align: right">        
          <input type="text" pInputText size="50" placeholder="Global Filter" 
          (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>

        <ng-template pTemplate="header" let-columns >
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                    <!-- <div style="width: 100%;">
                            <p-chart type="doughnut" [data]="data"></p-chart>
                    </div> -->
                </th>
            </tr>

            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input *ngSwitchCase="'abbr'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              
              <!-- <div *ngSwitchCase="'year'">
                  Value < {{yearFilter}}
                  <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                  <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
              </div> -->
              
              <p-dropdown *ngSwitchCase="'num'" [options]="fundNumbers" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              
              <p-multiSelect *ngSwitchCase="'created_by'" [options]="created_bys"  (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect> 
          </th>

        </ng-template>
        
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>


      <p-footer>
          
      </p-footer>
  </p-panel>
 

  </div>
</div>




<mat-divider></mat-divider>

<div class="d-flex flex-column flex-wrap ">
    <p-card *ngFor="let fof of fofs | slice:0:2; even as isEven; first as isFirst" class="m-4 w-25 ml-auto mr-auto" 
    [ngClass]="getCardClass(isEven, isFirst)">
            <p-header class="text text-center"> {{fof.abbr}}  {{fof.num}}</p-header>
            <div style="width: 100%;">
                    <p-chart type="doughnut" [data]="data"></p-chart>
            </div>
            <p-footer></p-footer>
    </p-card>
</div>
