.add-fund-card{
    max-width: 500px;
    margin: 50px auto 0 auto;
  }
  
  .fund-form {
    display: flex;
    flex-direction: column;
  }

  /* Otherwise animation wount wrok - route anim */
  :host{
    display: block
  }

 