.fund-card {
    margin: 20px auto;
    max-width: 390px;
}

.fund-actions {
    text-align: center; 
}

.page{
    max-width: 500px;
    margin: 50px auto 0 auto;
  }

  #temp_id1{
    box-shadow: 5px 5px 10px rgb(231, 228, 210)
  }

  .ng-class-1{
    border: 5px solid blue;
    display: inline-block;
  }

  .css-anim-1{
    animation: moved 1s;
  }

  @keyframes moved {
    0%{
          opacity: 0;
          transform: translateY(0) scale(1)
    }
    50%{
          opacity: 0.5 ;
          transform: translateY(20px) scale(1)
    }
    75%{
          opacity: 1;
          transform:  translateY(0) scale(1.2) 
    }
    100%{
      opacity: 1;
      transform:  scale(1)
    }
  }

  #currPageInp{
    max-width: 50px;
  }

 
