<div class="row">
  <div class="col col-12">
      <div (click)="divClicked = !divClicked"
      [@divTrigger]="divClicked ? 'clicked' : 'default'"></div>

      <!-- <div [@divTrigger]="clickInfo" class="m-2"></div> -->
      <fund-add></fund-add>
    <!-- <fund-add (click)="addFundCompClicked = !addFundCompClicked" 
    [@clickTrigger]="addFundCompClicked ? 'default' : 'clicked'"></fund-add> -->

    
  </div>



  <mat-divider></mat-divider>

  <div *ngIf='funds' class="col col-12 ">
    <div class="d-flex flex-wrap justify-content-around">
      <mat-card *ngFor="let fund of funds; index as i" class="fund-card mat-elevation-z10">
        <div id="temp_id1"> 
          <fund [fund]=fund [index]=i 
          (click)="fund.isClicked = !fund.isClicked"
          (click)="onSimpleClick()"
          [ngStyle]= "{'backgroundColor' : fund.isClicked ? 'rgb(222, 231, 210)' : 'white'}" 
          [ngClass]="{'ng-class-1' : fund.isClicked}"
          ></fund> 
        </div>
      </mat-card>
    </div>
    <mat-divider></mat-divider>

    <!-- paginator -->
    <div class="d-flex justify-content-around m-4 bg-dark text-white">

      <input class="m-4 d-inline-block" type="text" placeholder="page Size" value="6" 
      [ngStyle]= "{'width' : isClickedInput ? '300px' : '100px'}"  
      (click)="isClickedInput = !isClickedInput" 
      (dblclick)="doubleClickFund(pageSize)"
      #pageSize>
      <p class="m-4 d-inline-block text-muted text-white css-anim-1"> Current Page : {{currentPage}}</p>
      <button mat-raised-button color="primary" class="m-4" (click)='previous(pageSize.value)'>Previous</button>
      <button mat-raised-button color="primary" class="m-4" (click)='next(pageSize.value)'>Next</button>

    </div>
  </div>

  <!-- <mat-spinner *ngIf='!funds' class="fund-card"></mat-spinner> -->
  <mat-divider></mat-divider>
  <app-progress-bar *ngIf='!funds' class="fund-card"></app-progress-bar>

  <!-- 

 
   -->