<div class="row">
  <div class="col col-12">
    <fund-add></fund-add>
  </div>

  <div *ngIf='funds' class="col col-12">
    <mat-card *ngFor="let fund of funds; index as i" class="fund-card mat-elevation-z10">
      <fund [fund]=fund [index]=i></fund>
    </mat-card>
    <div class="fund-card row ">
      <div class="col-6">
        <button mat-raised-button color="primary" class="align-left" (click)='previous()'>Previous</button>
        <button mat-raised-button color="primary" class="align-right" (click)='next()'>Next</button>
      </div>
    </div>

</div>
</div>

<mat-spinner *ngIf='!funds'></mat-spinner>
