{{fof_num}}
<span *ngIf='noUFflag' class="badge badge-pill badge-light">NO UnderLying Found</span>

<div class="fund">

    <mat-tab-group>
        <mat-tab [label]="[uf.num]" *ngFor="let uf of underlyingFunds"> 
            <div>
                <table class="table table-dark m-4">
                    <tr *ngFor="let e of (uf | keyvalue) ; even as isEven">
                        <td class="text text-left">{{e.key| uppercase}}</td> <td class="text text-left">{{e.value}}</td>
                    </tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
    
    
    <mat-divider></mat-divider>
   
        <button mat-button class="mat-raised-button mat-primary mt-4" [routerLink]="['/fund-module/get-all']">back</button>
   
    
</div>

<!-- <mat-progress-bar mode="indeterminate" *ngIf='!underlyingFunds' ></mat-progress-bar> -->
<!-- <mat-spinner *ngIf='!underlyingFunds' class="fund-card"></mat-spinner> -->

<app-progress-bar *ngIf='!underlyingFunds' class="progress-comp"></app-progress-bar>


    