.loading-bar{
    height: 20px;
    width: 300px;
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0);
}

.loading-progress{
    height: 100%;
    width: 0px;
    animation: progress-1 2s infinite ;
}

@keyframes progress-1 {
    0%{
        width: 0;
    }

    100%{
        width: 296px;
    }
}