.fund {
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
}

:host{
    display: block;
    border: 1px solid black;
    /* box-shadow: 10px 10px 10px grey; */
}

:host(.activate){
    display: block;
    border: 2px solid rgb(215, 233, 55);
    box-shadow: 5px 5px 5px rgb(215, 233, 55);
}

:host-context(#temp_id1) /deep/ {
    text-align: center;
    box-shadow: 5px 5px 5px rgb(123, 214, 146);
}

.view-button{
    width : 50%; background-color: rgb(203, 240, 70);
    transition: all 1s;
    animation: moved 2s;
    text-align: center
  }

  .view-button:hover{
    width : 70%; 
    background-color: rgb(151, 172, 79);
  }

  @keyframes moved {
      0%{
            opacity: 0;
            transform: translateX(0) scale(1)
      }
      50%{
            opacity: 0.5 ;
            transform: translateX(20px) scale(1)
      }
      75%{
            opacity: 1;
            transform:  translateX(0) scale(1.1)
      }
      100%{
        opacity: 1;
        transform:  scale(1)
  }
  }