<mat-sidenav-container fullscreen>

    <!-- SIDE NAV -->
    <mat-sidenav #start>
        <mat-nav-list (click)="start.close()">

            <a mat-list-item routerLink="/login" *ngIf="!(isLoggedIn$ | async)">
                <mat-icon>face</mat-icon> <span>Login</span>
            </a>

            <a mat-list-item routerLink="/login" *ngIf="isLoggedIn$ | async">
                <mat-icon>power_settings_new</mat-icon> <span>Logout</span>
            </a>

            <a mat-list-item routerLink="/about">
                <mat-icon>info</mat-icon> <span>About</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <!-- MAT Tool Bar -->
    <mat-toolbar color="primary" class="sticky-top">

        <!-- MAT tool bar row - 1 -->
        <mat-toolbar-row>

            <!-- hamburger -->
            <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
                <mat-icon>menu</mat-icon>
            </button>

            <!-- title -->
            <button mat-icon-button color="accent" routerLink= "home" *ngIf="(isLoggedIn$ | async)">
                <mat-icon>home</mat-icon>
            </button>
            <h2 class="text-monospace"> Fund Allocation & Calculation Tool</h2>
            <div class="container ml-4" *ngIf="isLoggedIn$ | async">
                <div class="row justify-content ">
                    <button mat-raised-button color="accent" (click)="this.router.navigate(['fundmtn'])">
                        <mat-icon>account_balance</mat-icon>
                        <span>Fund Maintenance</span>
                    </button>

                    <button mat-raised-button color="accent" class="ml-4" [routerLink]= "['rpt']">
                        <mat-icon>insert_drive_file</mat-icon>
                        <span>Report</span>
                    </button>
                </div>
            </div>
            <!-- menu option -->
            <div class="ml-auto" >

                <!-- more Option button-->
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dashboard</mat-icon><span>Admin</span>
                    </button>
                    <button mat-menu-item (click)="logout()" *ngIf="!(isLoggedIn$ | async)">
                        <mat-icon>face</mat-icon><span>LogIn</span>
                    </button>
                    <button mat-menu-item (click)="logout()" *ngIf="(isLoggedIn$ | async)">
                        <mat-icon>power_settings_new</mat-icon><span>Logout</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>info</mat-icon><span>About TACT</span>
                    </button>
                </mat-menu>

            </div>

        </mat-toolbar-row>
        <!-- <mat-toolbar-row>
                <span>Custom Toolbar</span>
        </mat-toolbar-row> -->

    </mat-toolbar>

    <router-outlet></router-outlet>



</mat-sidenav-container>