<mat-sidenav-container fullscreen>

  <mat-sidenav #start>
      <mat-nav-list (click)="start.close()">

          <a mat-list-item routerLink="/login">
              <!-- <mat-icon>Login</mat-icon> -->
              <span>Login</span>
          </a>

          <a mat-list-item routerLink="/about">
              <!-- <mat-icon>About TACT</mat-icon> -->
              <span>About</span>
          </a>

      </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
      <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
      </button>

      <h2>Fund Allocation and Calculation Tool (v1.0)</h2>
  </mat-toolbar>

  <router-outlet></router-outlet>



</mat-sidenav-container>

