:host{
    display: block;
    border: 1px solid grey;
    margin: 20px 5%;
    box-shadow : 5px 5px 5px gray;
    background: rgb(239, 245, 252);
}

:host(:hover){

    border: 2px solid rgb(255, 82, 2);
    
}