{{index}}
<div class="row">
  <div class="col-5">
    <ul class="list-group">
      <span class="m-2 text text-muted text-center badge badge-info"><strong>{{user.initial}} ({{user.name}})</strong></span>
      <span class="m-2 text text-muted text-center badge badge-info">{{user.role}}</span>
      <span class="m-2">Location : {{user.loc}}</span>
    </ul>
    
  </div>
  <div class="col-2 border border-grey m-2">
    <img src="" alt="img">
  </div>
  <div class="col-4">
      <ul class="list-group">
      <span class="ml-2 text text-muted text-sm-left">last login: </span>
      </ul>
      
      <button mat-mini-fab color="warn">delete</button>
      <span class="ml-2 badge badge-success">online</span>
  </div>
</div>


<!-- 

  [ngClass]="selected ? 'active' : ''
 -->