{{index}}
<div class="row">
  <div class="col-7">
    <ul class="list-group">
      <span class="m-2 text text-muted text-center badge badge-info"><strong>{{user.initial}} ({{user.name}})</strong></span>
      <span class="m-2 text text-muted text-center badge badge-info">{{user.role}}</span>
      <span class="m-2">Location : {{user.loc}}</span>
    </ul>
    
  </div>
  <div class="col-4 border border-grey m-2">
    <img src="" alt="img">
  </div>

</div>


<!-- 

  [ngClass]="selected ? 'active' : ''
 -->