/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Alegreya');

html, body { height: 100%; font-family: 'Alegreya', serif;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    outline: 0px;
}
